spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobdb
    username: postgres
    password: avizva9372
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092,localhost:9094,localhost:9096

    listener:
      type: single
      concurrency: 3

    consumer:
      group-id: alice-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer

      enable-auto-commit: false
      # Fix: LOWER this number (e.g., to 50) or INCREASE max.poll.interval.ms.
      max-poll-records: 4
      max-poll-interval: 2000

    # --------------------------------------------------------------------------
    # GLOBAL PROPERTIES
    # --------------------------------------------------------------------------
    properties:
      schema.registry.url: "http://localhost:8081"
      security.protocol: SASL_PLAINTEXT
      group.instance.id: kafka-streams-instance-1

      sasl.mechanism: SCRAM-SHA-256
      sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="amol" password="amol-secret";
      request.timeout.ms: 30000

      # 1. THE CLASS MAPPING (The answer to your question)
      # Fully qualified class name of your DTO/POJO
      spring.json.value.default.type: org.ccdak.practice.basicKafka.messaging.Payload

      # 2. THE TRUST CONFIG (Mandatory Security)
      # You must allow this package, or Jackson will block it
      spring.json.trusted.packages: "org.ccdak.practice.basicKafka.messaging"
server:
  port: 8091